@import "tailwindcss";
@tailwind utilities;


@layer utilities {
  .animate-slide-in-bottom-shirt {
    animation: slide-in-bottom-shirt 4s cubic-bezier(0.25, 1, 0.5, 1) both;
  }
  @keyframes slide-in-bottom-shirt {
    0% {
      transform: translateY(130px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-in-bottom-mug {
    animation: slide-in-bottom-mug 4s cubic-bezier(0.25, 1, 0.5, 1) both;
  }
  @keyframes slide-in-bottom-mug {
    0% {
      transform: translateY(130px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-in-bottom-bag {
    animation: slide-in-bottom-bag 4s cubic-bezier(0.25, 1, 0.5, 1) both;
  }
  @keyframes slide-in-bottom-bag {
    0% {
      transform: translateY(130px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-in-bottom-ball {
    animation: slide-in-bottom-ball 4s cubic-bezier(0.25, 1, 0.5, 1) both;
  }
  @keyframes slide-in-bottom-ball {
    0% {
      transform: translateY(130px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}