---
// filepath: src/pages/producto/[alt].astro
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
  const products = await getCollection('products');
  const paths = [];
  for (const product of products) {
    for (const image of product.data.images) {
      if (image.alt) {
        paths.push({ params: { alt: image.alt }, props: { image, product } });
      }
    }
  }
  return paths;
}

const { image, product } = Astro.props;
---

<Layout>
  <Header />
  <main class="flex flex-col items-center justify-start w-full p-4 pt-0">
    {image ? (
      <>
        <img src={image.url} alt={image.alt} class="w-[430px] h-auto rounded-lg shadow-lg mb-6 mt-14" />
        <h1 class="text-3xl font-bold text-teal-900 text-center">{image.alt} - {product.data.price}€</h1>
        <a href="/contacto"
	        class="text-2xl text-white font-bold tracking-wide bg-teal-900 mt-6 mb-14 px-6 py-3 rounded-full hover:scale-105 transition-all hover:bg-teal-800 duration-300 cursor-pointer">
		    Encargar
	    </a>
      </>
    ) : (
      <p class="text-xl text-red-600 font-bold">Imagen no encontrada.</p>
    )}
    
  </main>
  <Footer />
</Layout>