---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---


<Layout title="About Us">
    <Header />
    <main class="flex flex-col items-center justify-start w-full min-h-dvh p-4 mt-16">
        <h1 class="text-4xl text-teal-900 font-extrabold mb-2 w-[270px]">Sobre nosotros</h1>
    </main>
    <Footer />
</Layout>