---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---


<Layout title="About Us - PiyataShop">
    <Header />
    <main class="flex flex-col items-center justify-start w-full min-h-dvh p-4 mt-16">
        <h1 class="text-4xl text-teal-900 font-extrabold mb-2 w-[270px]">Sobre nosotros</h1>
        <p class="font-bold text-xl mt-4 w-[350px] md:w-[590px]">En PiyataShop creemos que las cosas hechas con cariño siempre tienen un valor especial. Soy Silvia, una mujer que encontró en las manualidades y en la compañía de mi perro Pipo la inspiración perfecta para dar vida a esta tienda. Lo que empezó como un pasatiempo, creando detalles únicos para mi familia y amigos, poco a poco fue creciendo hasta convertirse en un proyecto que hoy llega a muchas más personas.</p>
        <p class="font-bold text-xl mt-5 w-[350px] md:w-[590px]"><u class="decoration-green-950">Aquí encontrarás productos personalizados como totebags, camisetas, llaveros, tazas y hasta bolas de Navidad</u>, cada uno pensado para transmitir cercanía y creatividad. Pero mi otra gran pasión son los animales, así que también confecciono arneses, correas y hasta bolsitas para la caca, todo hecho a mano y con un toque especial para que tu mejor amigo luzca único.</p>
        <p class="font-bold text-xl mt-5 w-[350px] md:w-[590px]">En PiyataShop <u class="decoration-green-950">no solo compras un producto</u> te llevas un pedacito de ilusión, horas de dedicación y mucho amor, <u class="decoration-green-950">porque cada creación está hecha como si fuera para alguien muy cercano</u>.</p>
    </main>
    <Footer />
</Layout>