---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---


<Layout title="Contactanos - PiyataShop">
    <Header />
    <main class="flex flex-col items-center justify-start w-full p-4 mb-5 sm:mb-10 md:mb-12 lg:mb-14 xl:mb-16 2xl:mb-16 mt-5 sm:mt-10 md:mt-12 lg:-mt-14 xl:mt-16 2xl:mt-16 text-center">
        <h1 class="text-4xl text-teal-900 font-extrabold mb-2 w-[270px] text-center">Contacto</h1>
        <p class="font-bold text-lg mt-3">¿Quieres un producto totalmente único para ti o tu peludito?</p>
        <p class="font-bold text-lg mt-3">En PiyataShop hacemos cada creación con mimo y a tu medida.</p>
        <p class="font-bold text-lg mt-3">Realizamos envíos a toda España, incluidos en el precio del artículo.</p>
        <p class="font-bold text-lg mt-5 w-[350px] md:w-[590px]">Para cualquier personalización, solo tienes que escribirnos un mensaje directo en nuestra página de Instagram: <a href="https://www.instagram.com/piyatashop/" target="_blank" class="text-teal-900 font-medium">@</a><a href="https://www.instagram.com/piyatashop/" target="_blank" class="text-teal-900 font-medium underline">piyatashop</a></p>
        <p class="font-extrabold text-lg mt-11 text-teal-900">Cuéntanos:</p>
        <ul class="font-bold text-lg mt-1 list-disc list-inside text-left w-[350px] md:w-[590px]">
            <li class="mt-2 ml-3.5">El nombre del producto que deseas.</li>
            <li class="mt-3 ml-3.5">Los datos o detalles que quieras personalizar.</li>
            <li class="mt-3 ml-3.5">Si se trata de un arnés, no olvides añadir la medida del busto de tu peludito para que le quede perfecto.</li>
        </ul>
        <p class="font-bold text-lg mt-16">¡Estaremos encantados de crear algo especial para ti!</p>
    </main>
    <Footer />
</Layout>