<footer class="mt-auto py-6 border-t border-[rgba(210,180,140,0.3)] bg-white/0 backdrop-blur-md shadow-sm rounded-xl">
  <div class="container mx-auto px-4 text-center">
    <!-- Links -->
    <div class="flex justify-center space-x-6 mb-6 text-sm text-black font-extrabold">
      <a href="#" class="hover:text-gray-800">About</a>
      <a href="#" class="hover:text-gray-800">Productos</a>
      <a href="#" class="hover:text-gray-800">Home</a>
    </div>

    <!-- Social Icons -->
    <div class="flex justify-center space-x-6 mb-6">
      <a href="https://www.instagram.com/piyatashop/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <img src="/svg/instagram.svg" alt="Instagram" class="w-6 h-6 inline" loading="lazy"/>
      </a>
      <a href="https://www.facebook.com/piyatashop/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <img src="/svg/facebook.svg" alt="Facebook" class="w-6 h-6 inline" loading="lazy"/>
      </a>
      <a href="https://github.com/Tr1pin/piyatashop.es" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <img src="/svg/github.svg" alt="GitHub" class="w-6 h-6 inline" loading="lazy"/>
      </a>
    </div>

    <!-- Copyright -->
    <p class="text-sm text-black font-extrabold">© 2024 piyatashop.es. All rights reserved.</p>
  </div>
</footer>