---
import Logo from "../assets/Logo.astro";
import SideBar from "./SideBar.astro";
---

<header class="flex justify-between p-6 pt-4 pb-4 items-center border-b border-[rgba(210,180,140,0.3)] sticky top-0 z-40 bg-white/0 backdrop-blur-md shadow-sm rounded-xl">
    <div class="flex items-center gap-1">
        <Logo href="/" />
        <a href="/" class="text-xl text-shadow-gray-700 font-bold tracking-wide">PiyataShop</a>
    </div>
    <p class="font-semibold text-sm text-center ">¡En PiyataShop no solo compras un producto, porque cada creación está hecha como si fuera para alguien muy cercano!</p>
    <div>
        <SideBar />
    </div>
</header>