---
import Logo from "../assets/Logo.astro";
import SideBar from "./SideBar.astro";
---

<header class="flex justify-between p-6 pt-4 pb-4 items-center border-b border-[rgba(210,180,140,0.3)] sticky top-0 z-40 bg-white/0 backdrop-blur-md shadow-sm rounded-xl">
    <div class="flex items-center gap-1">
        <Logo href="/" />
        <a href="/" class="text-xl text-teal-900 font-extrabold tracking-wide">PiyataShop</a>
    </div>
    <div>
        <SideBar />
    </div>
</header>