---
---
<main class="flex flex-col items-center justify-start w-full pt-0">
	<h1 class="text-4xl text-teal-900 font-extrabold mt-10 mb-2 w-[250px]">PERSONALIZA </h1>
	<h1 class="text-4xl text-teal-900 font-extrabold mb-9 w-[400px] text-center">TUS PRODUCTOS</h2>
	<section class="relative w-[450px] h-[530px] overflow-hidden">
		<!-- CAMISETA -->
		<a href="/productos">
			<img
				src="/camiseta.webp"
				alt="Camiseta personalizada"
				class="animate-slide-in-bottom-shirt hover:scale-112 transition-transform duration-550 
				absolute -top-[50px] left-[4%]
				w-[260px] h-auto mb-4 -rotate-4 cursor-pointer z-[2] overflow-hidden"
			/>
		</a>
		<!-- BOLSA -->
		<a href="/productos">
			<img
				src="/bolsa.webp"
				alt="Bolsa personalizada"
				class="animate-slide-in-bottom-bag hover:scale-112 transition-transform duration-550 
				absolute -top-[10px] -right-[3%]
				w-[220px] h-auto mb-4 rotate-7 cursor-pointer z-[3] overflow-hidden"
			/>
		</a>
		<!-- TAZA -->
		<a href="/productos">
			<img
				src="/taza.webp"
				alt="Taza personalizada"
				class="animate-slide-in-bottom-mug hover:scale-106 transition-transform duration-550 
				absolute bottom-[45px] left-[6%]
				w-[120px] h-auto cursor-pointer z-[6] overflow-hidden"
				loading="lazy"
			/>
		</a>
		<!-- BOLA DE NAVIDAD 1-->
		<a href="/productos">
			<img
				src="/bolaVerde.webp"
				alt="Bola de Navidad personalizada"
				class="animate-slide-in-bottom-ball hover:scale-107 transition-transform duration-550 
				absolute bottom-[170px] left-[37%]
				w-28 cursor-pointer z-[6] overflow-hidden"
				loading="lazy"
			/>
		</a>
		<!-- CORREA -->
		<a href="/productos">
			<img
				src="/correa.webp"
				alt="Correa de perros personalizada"
				class="animate-slide-in-bottom-belt animate-slide-in-bottom-star hover:scale-112 transition-transform duration-550 
				absolute top-[180px] left-[5%]
				w-[170px] cursor-pointer -rotate-10 z-[5] overflow-hidden"
				loading="lazy"
			/>
		</a>
		<!-- ARNES -->
		<a href="/productos">
			<img
				src="/arnes.webp"
				alt="Correa de perros personalizada"
				class="animate-slide-in-bottom-harness animate-slide-in-bottom-star hover:scale-112 transition-transform duration-550 
				absolute bottom-[120px] right-[8%]
				w-[140px] cursor-pointer -rotate-100 z-[4] overflow-hidden"
				loading="lazy"
			/>
		</a>
		<!-- LLAVERO -->
		<a href="/productos">
			<img
				src="/llavero.webp"
				alt="llavero personalizado"
				class="animate-slide-in-bottom-ball hover:scale-107 transition-transform duration-550 
				absolute bottom-[35px] right-[14%]
				w-20 cursor-pointer z-[5] overflow-hidden"
				loading="lazy"
			/>
		</a>
	</section>
	<a href="/productos"
	class="fade-in-delayed text-2xl text-white font-bold tracking-wide bg-teal-900 mb-10 px-6 py-3 rounded-full hover:scale-105 transition-all hover:bg-teal-800 duration-300 cursor-pointer">
		Nuestros Productos
	</a>

</main>