---
---

<main class="flex flex-col items-center justify-start w-full min-h-dvh p-4 pt-0">
	<img src="/titulo.webp" alt="" class="w-[500px] h-[250px]" />
	<section class="relative w-[450px] h-[600px]">
		<!-- CAMISETA -->
		<img
			src="/camiseta.webp"
			alt="Camiseta personalizada"
			class="animate-slide-in-bottom-shirt hover:scale-112 transition-transform duration-550 
			absolute -top-[50px] left-[0%]
			w-[300px] h-auto mb-4 -rotate-4 cursor-pointer"
		/>
		<!-- BOLSA -->
		<img
			src="/bolsa.webp"
			alt="Bolsa personalizada"
			class="animate-slide-in-bottom-bag hover:scale-112 transition-transform duration-550 
			absolute -top-[10px] right-[0%]
			w-[260px] h-auto mb-4 rotate-7 cursor-pointer"
		/>
		<!-- TAZA -->
		<img
			src="/taza.webp"
			alt="Taza personalizada"
			class="animate-slide-in-bottom-mug hover:scale-106 transition-transform duration-550 
			absolute bottom-[80px] -left-[3%]
			w-[136px] h-auto cursor-pointer"
		/>
		<!-- BOLA DE NAVIDAD 1-->
		<img
			src="/bolaNavidad.webp"
			alt="Bola de Navidad personalizada"
			class="animate-slide-in-bottom-ball hover:scale-107 transition-transform duration-550 
			absolute bottom-[200px] left-[28%] sm:left-[0%] md:left-[0%] lg:left-[0%] xl:-left-[5%] 
			w-36 cursor-pointer"
		/>
		<!-- BOLA DE NAVIDAD 2-->
		<img
			src="/bolaNavidad.webp"
			alt="Bola de Navidad personalizada"
			class="animate-slide-in-bottom-ball hover:scale-107 transition-transform duration-550 
			absolute bottom-[100px] left-[31%] sm:left-[0%] md:left-[0%] lg:left-[0%] xl:-left-[5%] 
			w-36 cursor-pointer"
		/>
		<!-- CORREA -->
		<img
			src="/correa.webp"
			alt="Correa de perros personalizada"
			class="animate-slide-in-bottom-star hover:scale-112 transition-transform duration-550 
			absolute top-[180px] -left-[5%]
			w-[200px] cursor-pointer -rotate-7"
		/>
		<!-- ARNES -->
		<img
			src="/arnes.webp"
			alt="Correa de perros personalizada"
			class="animate-slide-in-bottom-star hover:scale-112 transition-transform duration-550 
			absolute bottom-[100px] right-[10%]
			w-[160px] cursor-pointer -rotate-100"
		/>
	</section>
</main>