---
---

<main class="flex flex-col items-center justify-start w-full min-h-dvh p-4 pt-0">
	<h1 class="text-4xl text-teal-900 font-extrabold mt-14 mb-2 w-[250px]">PERSONALIZA </h1>	
	<h1 class="text-4xl text-teal-900 font-extrabold mb-9 w-[400px] text-center">TUS PRODUCTOS</h2>
	<section class="relative w-[450px] h-[600px]">
		<!-- CAMISETA -->
		<img
			src="/camiseta.webp"
			alt="Camiseta personalizada"
			class="animate-slide-in-bottom-shirt hover:scale-112 transition-transform duration-550 
			absolute -top-[50px] left-[0%]
			w-[300px] h-auto mb-4 -rotate-4 cursor-pointer z-[2]"
		/>
		<!-- BOLSA -->
		<img
			src="/bolsa.webp"
			alt="Bolsa personalizada"
			class="animate-slide-in-bottom-bag hover:scale-112 transition-transform duration-550 
			absolute -top-[10px] right-[0%]
			w-[260px] h-auto mb-4 rotate-7 cursor-pointer z-[3]"
		/>
		<!-- TAZA -->
		<img
			src="/taza.webp"
			alt="Taza personalizada"
			class="animate-slide-in-bottom-mug hover:scale-106 transition-transform duration-550 
			absolute bottom-[80px] -left-[3%]
			w-[136px] h-auto cursor-pointer z-[6]"
			loading="lazy"
		/>
		<!-- BOLA DE NAVIDAD 1-->
		<img
			src="/bolaVerde.webp"
			alt="Bola de Navidad personalizada"
			class="animate-slide-in-bottom-ball hover:scale-107 transition-transform duration-550 
			absolute bottom-[200px] left-[28%]
			w-36 cursor-pointer z-[6]"
			loading="lazy"
		/>
		<!-- BOLA DE NAVIDAD 2-->
		<img
			src="/bolaBeige.webp"
			alt="Bola de Navidad personalizada"
			class="animate-slide-in-bottom-ballBeige hover:scale-107 transition-transform duration-550 
			absolute bottom-[100px] left-[31%]
			w-36 cursor-pointer z-[6]"
			loading="lazy"
		/>
		<!-- CORREA -->
		<img
			src="/correa.webp"
			alt="Correa de perros personalizada"
			class="animate-slide-in-bottom-belt animate-slide-in-bottom-star hover:scale-112 transition-transform duration-550 
			absolute top-[180px] -left-[5%]
			w-[200px] cursor-pointer -rotate-7 z-[5]"
			loading="lazy"
		/>
		<!-- ARNES -->
		<img
			src="/arnes.webp"
			alt="Correa de perros personalizada"
			class="animate-slide-in-bottom-harness animate-slide-in-bottom-star hover:scale-112 transition-transform duration-550 
			absolute bottom-[120px] right-[10%]
			w-[160px] cursor-pointer -rotate-100 z-[4]"
			loading="lazy"
		/>
		<!-- LLAVERO -->
		<img
			src="/llavero.webp"
			alt="llavero personalizado"
			class="animate-slide-in-bottom-ball hover:scale-107 transition-transform duration-550 
			absolute bottom-[65px] right-[16%]
			w-24 cursor-pointer z-[5]"
			loading="lazy"
		/>
	</section>
</main>