---
import Logo from "../assets/Logo.astro";
import MenuIcon from "../assets/MenuIcon.astro"; 
import menu from "../content/menu/menu.json";

// check if menu item is active
const isMenuItemActive = (url: string) => {
  const pathname = Astro.url.pathname;
  if (url === "/") {
    return pathname === url ? "active" : "";
  }
  return pathname.startsWith(url) ? "active" : "";
};
---

<!-- Sidebar toggle -->
<input type="checkbox" id="sidebar-toggle" class="peer hidden" />
<label for="sidebar-toggle" class="cursor-pointer p-4 flex items-center gap-2" aria-label="Abrir menú lateral">
  <span class="text-xl text-shadow-gray-700 font-bold">Menu</span>
  <MenuIcon />
</label>

<!-- Sidebar -->
<aside class="fixed top-0 left-0 h-full w-74 font-extralight bg-[#F5EDF7] text-2xl shadow-lg transform -translate-x-full peer-checked:translate-x-0 transition-transform z-50" aria-label="Menú lateral">
  <nav class="p-6 flex flex-col space-y-4 h-dvh bg-[#F5EDF7] border-r border-[rgba(210,180,140,0.3)] pb-2 shadow-[0_4px_4px_-3px_rgba(0,0,0,0.1),0_0px_0px_-0px_rgba(0,0,0,0.05)]" role="navigation">
    <!-- Botón X -->
    <label for="sidebar-toggle" class="absolute top-[34px] right-3 cursor-pointer text-black hover:text-gray-700 text-4xl" aria-label="Cerrar menú lateral">
      &times;
    </label>
   <div class="flex items-center gap-1 mb-4 border-b border-[rgba(210,180,140,0.3)] pb-2 shadow-[0_4px_4px_-3px_rgba(0,0,0,0.1),0_0px_0px_-0px_rgba(0,0,0,0.05)]">
      <Logo href="/" />
      <a href="/" class="text-xl text-shadow-gray-700 font-bold">PiyataShop</a>
    </div>
    <ul class="flex-1 flex flex-col gap-2" role="menu">
      {menu.main.map((menuItem) => (
        <li role="none" class="flex flex-row justify-around text-shadow-gray-700 font-semibold w-full h-[35px]">
          <a
            href={menuItem.url}
            role="menuitem"
            class:list={[
              "w-[180px] h-[20px] my-2 text-lg text-green-950 font-bold mr-4 ml-1 rounded hover:text-shadow-gray-900 hover:text-xl transition-all",
              isMenuItemActive(menuItem.url) && "text-shadow-gray-500 cursor-pointer",
            ]}
          >
            <strong class="text-shadow-gray-700 font-semibold">-</strong> 
            {menuItem.name}
          </a>
          <a href={menuItem.url} class="hover:scale-105 transition-transform duration-300">
            <img src={"/src/assets/svg/"+ menuItem.svg +".svg"} alt="Svg" class="w-6 h-6 inline" loading="lazy"/>
          </a>
        </li>
      ))}
    </ul>
  </nav>
</aside>