---
import "../styles/global.css";
---

<!doctype html class="min-w-screen min-h-screen">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>piyataShop.es</title>
    <meta name="description" content="Personaliza tus productos con PiyataShop. Camisetas, tazas, bolsas y más con tus diseños únicos. Calidad y creatividad en cada artículo." />
    <meta name="keywords" content="personalización, productos personalizados, camisetas personalizadas, tazas personalizadas, bolsas personalizadas, regalos personalizados, diseño único, creatividad, moda personalizada, accesorios personalizados" />
    <meta name="author" content="Tr1p & LLarina" />
  </head>
  <body class="min-w-screen min-h-screen overflow-x-hidden font-extralight bg-[#F5EDF7] text-2xl">
    <slot />
  </body>
</html>
